@use 'mixins'as *;

$red: hsl(14, 86%, 42%);
$green: hsl(159, 69%, 38%);

$rose-50: hsl(20, 50%, 98%);
$rose-100: hsl(13, 31%, 94%);
$rose-300: hsl(14, 25%, 72%);
$rose-400: hsl(7, 20%, 60%);
$rose-500: hsl(12, 20%, 44%);
$rose-900: hsl(14, 65%, 9%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $rose-50;
    font-size: 1rem;
    font-family: "Red Hat Text", sans-serif;
    font-weight: 600;
}

main {
    width: 90%;
    margin: 20px auto 20px auto;

    h1 {
        font-size: 2rem;
        // margin-bottom: 20px;
        width: 100%;
    }

    @include breakpoint(1056px) {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 20px;

        .card {
            max-width: 300px;
        }
    }
}

.desserts {
    display: flex;
    flex-wrap: wrap;
    // flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    // width: 300px;
    gap: 4px;



    img {
        width: 100%;
        border-radius: 10px;
    }

    .add-cart {
        width: fit-content;
        margin-inline: auto;
        padding: 10px 20px 10px 45px;
        border-radius: 30px;
        border: 1.5px solid $rose-300;
        background-color: white;
        transform: translateY(calc(-50% - 4px));
        font-weight: 600;
        position: relative;

        &:hover {
            cursor: pointer;
        }

        &::before {
            content: url('../assets/images/icon-add-to-cart.svg');
            position: absolute;
            bottom: 5px;
            left: 17px;
        }
    }

    &.cart-added {
        img {
            border: 2px solid $red;
        }

        .add-cart {
            width: fit-content;
            background-color: $red;
            color: $rose-50;
            display: flex;
            justify-content: space-between;
            padding: 10px 15px;
            border: none;
            gap: 30px;

            &::before {
                content: none;
                // position: static;
            }

            // TODO: Start JAVASCRIPT

            .decrement-sign {
                // content: url('../assets/images/icon-decrement-quantity.svg');
                // position: static;
                padding: 2px;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                border: 1px solid $rose-50;
            }

            .increment-sign {
                // content: url('../assets/images/icon-increment-quantity.svg');
                padding: 2px;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                border: 1px solid $rose-50;
            }
        }
    }

    .category {
        font-weight: 400;
        color: $rose-500;
    }

    .title {
        color: $rose-900;
    }

    .price {
        color: $red;

        &::before {
            content: '$';
        }
    }
}

.cart {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin-top: 40px;
    height: fit-content;

    h2 {
        color: $red;
    }

    img {
        width: 80%;
    }

    p {
        color: $rose-500;
    }

}

.empty-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}

.cart-items {
    .items {
        li {
            display: grid;
            grid-template-columns: auto 1fr auto;
            grid-template-rows: auto auto;
            grid-template-areas:
                "title . x"
                "subtitles . x";
            align-items: center;
            border-bottom: 1px solid $rose-100;
            padding-block: 10px;

            .item-title {
                grid-area: title;
                color: $rose-900;
            }

            .item-subtitles {
                grid-area: subtitles;
                display: flex;
                /* Align subtitles horizontally */
                gap: 15px;
                margin-top: 5px;

                .quantity {
                    color: $red;
                }

                .item-price {
                    color: $rose-400;
                }
            }

            .remove-item-btn {
                grid-area: x;
                justify-self: end;
                align-self: center;
                background: none;
                border: 1px solid $rose-400;
                border-radius: 50%;
                width: 20px;
                height: 20px;
                padding: 1.5px;
            }
        }
    }

    .total {
        display: flex;
        justify-content: space-between;
        margin-block: 20px;

        .order-total {
            color: $rose-900;
            font-weight: 400;
            align-content: center;
        }

        .order-total-value {
            font-weight: 700;
            font-size: 32px;
            color: black;
        }
    }

    .cart-note {
        background-color: $rose-50;
        border-radius: 10px;
        display: flex;
        gap: 5px;
        padding: 15px;
        font-size: 14px;
        align-items: center;
        width: 100%;

        img {
            width: 24px;
        }

        p {
            color: $rose-900;
        }
    }

    .confirm-order {
        width: 100%;
        margin-top: 20px;
        border: none;
        border-radius: 40px;
        padding: 20px;
        background-color: $red;
        color: $rose-50;
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 0.5px;
    }
}

.attribution {
    margin-inline: 20px;
}